@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,1000&family=Roboto:wght@300&display=swap');
@import "./page-style/Navbar";
@import "./page-style/sections";
@import "./page-style/slideshow";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior:smooth;
    scroll-padding-top: 100px;
    font-family: 'Ubuntu', sans-serif;
    
    
}

header{
    width: 100%;
    overflow: auto;
    position: sticky;
    top: 0;
    z-index: 2;
}

.login-btn {
    background-color: #E73823;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}



