@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,1000&family=Roboto:wght@300&display=swap");
.NavBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  padding: 10px;
  background-color: chocolate;
}

.menu {
  list-style: none;
  display: flex;
  padding: 10px;
}

.menu li {
  margin-right: 40px;
  cursor: pointer;
}

.menu-btn {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.banner {
  width: 100%;
  height: 350px;
}

.BroodContainer {
  display: block;
  padding: 10px;
}

.title_container {
  display: flex;
  justify-content: center;
}

.title {
  color: #fff;
  background-color: #000;
  width: 200px;
  padding: 10px;
}

.prod_container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.prod_wraper {
  display: flex;
  flex-direction: column;
  width: 40vmin;
  font-size: medium;
  margin: 1.6rem;
}

.text {
  font-size: 13px;
  margin-top: 10px;
}

.prod_title {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 10px;
}

@media only screen and (max-width: 600px) {
  .prod_wraper {
    width: 100%;
  }
}
.radio {
  display: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 120vmin;
  margin: 1% auto;
  height: 100%;
}

.slider {
  width: 100%;
  position: relative;
  height: 60vmin;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  animation-duration: 1s;
}

.slide img {
  width: 100%;
  padding: 10px;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1.1);
  transition: 1.3s;
  animation-duration: 1s;
}

.dots {
  width: 100%;
  position: absolute;
  bottom: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots label {
  width: 15px;
  height: 15px;
  background: #000;
  margin: 0 10px;
  border-radius: 50%;
  opacity: 0.3;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.dots label :hover {
  opacity: 0;
}

#radio-1:checked ~ #slide-1,
#radio-2:checked ~ #slide-2,
#radio-3:checked ~ #slide-3,
#radio-4:checked ~ #slide-4,
#radio-5:checked ~ #slide-5 {
  opacity: 1;
}

#radio-1:checked ~ #slide-1 img,
#radio-2:checked ~ #slide-2 img,
#radio-3:checked ~ #slide-3 img,
#radio-4:checked ~ #slide-4 img,
#radio-4:checked ~ #slide-4 img,
#radio-5:checked ~ #slide-5 img {
  transform: scale(1);
}

#radio-1:checked ~ #slide-1 .caption,
#radio-2:checked ~ #slide-2 .caption,
#radio-3:checked ~ #slide-3 .caption,
#radio-4:checked ~ #slide-4 .caption,
#radio-5:checked ~ #slide-5 .caption {
  opacity: 1;
  top: 7%;
  font-size: 80px;
}

#radio-1:checked ~ .dots #label-1,
#radio-2:checked ~ .dots #label-2,
#radio-3:checked ~ .dots #label-3,
#radio-4:checked ~ .dots #label-4,
#radio-5:checked ~ .dots #label-5 {
  background-color: #ff3bce;
  opacity: 1;
}

.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #fefefe;
}

header {
  width: 100%;
  overflow: auto;
  position: sticky;
  top: 0;
  z-index: 2;
}

.login-btn {
  background-color: #E73823;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */