
.NavBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    padding: 10px;
    background-color:chocolate  ;
    // overflow: auto;
}
.menu {
    list-style: none;
    display: flex;
    padding: 10px;
}

.menu li {
    margin-right: 40px;
    cursor: pointer;
}

.menu-btn {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.banner{
    width: 100%;
    height: 300px;
    margin-bottom: -10px;
}
.logo{
    width: 100%;
    height: 75px;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}
h1{
    margin-top: 2px;
    color: #fff;
    font-size: 140%;
    width: 100%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-5%, 90%);
    z-index: 1;
}
h2{
    margin-top: 2px;
    color: #fff;
    font-size: 120%;
    width: 100%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-15%, 240%);
    z-index: 1;
}
// .table{
//     color: #fff;
// }


// @media (max-width: 500px){
//     .banner{
//         width: 100%;
//         height: 100px;
//         margin-bottom: -10px;
//     }
//     .NavBar .menu {
//         position: fixed;
//          height: 100vh;
//          width: 100%;
//          left: -100%;
//          top: 0;
//          background: chocolate;
//          text-align: center;
//          padding-top: 70px;
//          transition: all 0.4s ease;
//     }
//     .NavBar .menu.active{
//         left: 0;
//     }
//     .NavBar .menu li {
//         display: block;
//     }
//     .NavBar .menu li a{
//         display: inline-block;
//         margin: 20px 0;
//         font-size: 40px;
//     }
// }