.NavBar {

    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    padding: 10px;
    background-color:chocolate  ;
    // overflow: auto;
}



.menu {
    list-style: none;
    display: flex;
    padding: 10px;
  

}

 .menu li {
    margin-right: 40px;
    cursor: pointer;
}

.menu-btn {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.banner{
    width: 100%;
    height: 350px;
}

